@model CarLoanCalculator.Views.Home.ConfirmationModel
@{
    ViewData["Title"] = "Confirmation";
}

<div class="container">
    <h2>Confirmation</h2>
    <p><strong>Price of Vehicle:</strong> $ 999,999</p>
    <p><strong>Total Payment Amount:</strong> $ 999,999</p>
    <p><strong>Down Payment:</strong> $ 999,999</p>
    <p><strong>Insurance Type:</strong> 1 years Insuarance</p>
    <p><strong>Insurance Price:</strong> $ 999,999</p>
    <p><strong>Other Fees:</strong> $ 999,999</p>
    <p><strong>Taxes:</strong> $ 999,999</p>
    <p><strong>Loan Term:</strong> 36 months</p>
    <p><strong>Loan Start Date:</strong> mm/yyyy</p>
    <p><strong>Loan End Date:</strong> mm/yyyy</p>
    <p><strong>Interest Rate:</strong> 15%</p>
    <p><strong>Total Interest Paid:</strong> $ 999,999</p>
    <p><strong>Total Loan Amount:</strong> $ 999,999</p>
    <p><strong>Monthly Payment</strong> $ 999,999</p>


    <button class="button">Confirm Loan Plan</button>
</div>

