@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1>Loan Calculator</h1>
</div>

<div class="container">
    <!-- Plans Container -->
    <div class="plans-container">

        <!-- Plan A -->
        <div class="column">
            <!-- Radio Button for Plan A -->
            <div class="form-row">
                <input type="radio" for="SelectedPlan" id="planA" name="loanPlan" value="A" checked>
                <h2 for="planA">Plan A</h2>
            </div>

            <!-- Total Payment Amount -->
            <div class="form-row">
                <label class="label">Total Payment Amount:</label>
                <span for="TotalPaymentAmountPlanA" id="totalPaymentAmountPlanA"></span>
            </div>
            
            <!-- Price of Vehicle -->
            <div class="form-row">
                <label class="label">Price of Vehicle: </label>
                <input type="text" for="VehiclePricePlanA" id="vehiclePricePlanA" placeholder="0" onblur="updateAllItems('A')">
            </div>

            <!-- Down Payment -->
            <div class="form-row">
                <label class="label">Down Payment:</label>
                <input type="text" for="DownPaymentPlanA" id="downPaymentPlanA" placeholder="0" onblur="updateAllItems('A')">
            </div>

            <div class="border-line"></div>

            <!-- insurance Type -->
            <div class="form-row">
                <label class="label">Insurance Type:</label>
                <select name="insuranceTypePlanA" for="InsuranceTypePlanA" id="insuranceTypePlanA" oninput="updateAllItems('A')">
                    <option value="select option"></option>
                    <option value="insuranceA_1yr">1 year guarantee</option>
                    <option value="insuranceA_3yrs">3 years guarantee</option>
                    <option value="insuranceA_5yrs">5 years guarantee</option>
                    <option value="insuranceA_10yrs">10 years guarantee</option>
                </select>
            </div>

            <!-- insurance Price -->
            <div class="form-row">
                <label class="label">Insurance Price:</label>
                <span id="insurancePricePlanA"></span>
            </div>

            <!-- Other Fees -->
            <div class="form-row">
                <label class="label">Other Fees:</label>
                $  <input type="text" for="OtherFeesPlanA" id="otherFeesPlanA" placeholder="0" onblur="updateAllItems('A')">
            </div>

            <!-- Tax Rate -->
            <div class="form-row">
                <label class="label">Tax Rate:</label>
                <input type="text" for="TaxRatePlanA" id="taxRatePlanA" placeholder="0" onblur="updateAllItems('A')">  %
            </div>

            <!-- Taxes -->
            <div class="form-row">
                <label class="label">Taxes:</label>
                <span id="taxesPlanA"></span>
            </div>

            <!-- Loan Term -->
            <div class="form-row">
                <label class="label">Loan Term:</label>
                <select name="loanTermPlanA" for="LoanTermPlanA" id="loanTermPlanA" oninput="updateAllItems('A')">
                    <option value="select option"></option>
                    <option value="loanTermA_12m">12 months</option>
                    <option value="loanTermA_36m">36 months</option>
                    <option value="loanTermA_60m">60 months</option>
                    <option value="loanTermA_120m">120 months</option>
                </select>
            </div>

            <!-- Loan Start Date -->
            <div class="form-row">
                <label class="label">Loan Start Date:</label>
                <input type="text" for="LoanStartDatePlanA" id="loanStartDatePlanA" placeholder="mm/yyyy">
            </div>

            <!-- Interest Rate -->
            <div class="form-row">
                <label class="label">Annual Interest Rate:</label>
                <span for="InterestRatePlanA" id="interestRatePlanA"></span>
            </div>

            <!-- Total Interest Paid -->
            <div class="form-row">
                <label class="label">Total Interest Paid:</label>
                <span for="TotalInterestPaidPlanA" id="totalInterestPaidPlanA"></span>
            </div>

            <!-- Total Loan Amount -->
            <div class="form-row">
                <label class="label">Total Loan Amount:</label>
                <span for="TotalLoanAmountPlanA" id="totalLoanAmountPlanA"></span>
            </div>

            <!-- Monthly Payment -->
            <div class="form-row">
                <label class="label">Monthly Payment: </label>
                <span for="MonthlyPaymentPlanA" id="monthlyPaymentPlanA"></span>
            </div>
        </div>
        
        <!-- Plan B -->
        <div class="column">
            <!-- Radio Button for Plan B -->
            <div class="form-row">
                <input type="radio" for="SelectedPlan" id="planB" name="loanPlan" value="B">
                <h2 for="planB">Plan B</h2>
            </div>

            <!-- Total Payment Amount -->
            <div class="form-row">
                <label class="label">Total Payment Amount:</label>
                <span id="totalPaymentAmountPlanB"></span>
            </div>

            <!-- Price of Vehicle -->
            <div class="form-row">
                <label for="vehiclePricePlanB" class="label">Price of Vehicle: </label>
                <input type="text" id="vehiclePricePlanB" placeholder="0" onblur="updateAllItems('B')">
            </div>

            <!-- Down Payment -->
            <div class="form-row">
                <label for="downPaymentPlanB" class="label">Down Payment:</label>
                <input type="text" id="downPaymentPlanB" placeholder="0" onblur="updateAllItems('B')">
            </div>

            <div class="border-line"></div>

            <!-- insurance Type -->
            <div class="form-row">
                <label for="insuranceTypePlanB" class="label">Insurance Type:</label>
                <select name="insuranceTypePlanB" id="insuranceTypePlanB" oninput="updateAllItems('B')">
                    <option value="select option"></option>
                    <option value="insuranceB_1yr">1 year guarantee</option>
                    <option value="insuranceB_3yrs">3 years guarantee</option>
                    <option value="insuranceB_5yrs">5 years guarantee</option>
                    <option value="insuranceB_10yrs">10 years guarantee</option>
                </select>
            </div>

            <!-- insurance Price -->
            <div class="form-row">
                <label class="label">Insurance Price:</label>
                <span id="insurancePricePlanB"></span>
            </div>

            <!-- Other Fees -->
            <div class="form-row">
                <label for="otherFeesPlanB" class="label">Other Fees:</label>
                $  <input type="text" id="otherFeesPlanB" placeholder="0" onblur="updateAllItems('B')">
            </div>

            <!-- Tax Rate -->
            <div class="form-row">
                <label class="label">Tax Rate:</label>
                <input type="text" id="taxRatePlanB" placeholder="0" onblur="updateAllItems('B')">  %
            </div>

            <!-- Taxes -->
            <div class="form-row">
                <label class="label">Taxes:</label>
                <span id="taxesPlanB"></span>
            </div>

            <!-- Loan Term -->
            <div class="form-row">
                <label for="loanTermPlanB" class="label">Loan Term:</label>
                <select name="loanTermPlanB" id="loanTermPlanB" oninput="updateAllItems('B')">
                    <option value="select option"></option>
                    <option value="loanTermB_12m">12 months</option>
                    <option value="loanTermB_36m">36 months</option>
                    <option value="loanTermB_60m">60 months</option>
                    <option value="loanTermB_120m">120 months</option>
                </select>
            </div>

            <!-- Loan Start Date -->
            <div class="form-row">
                <label class="label">Loan Start Date:</label>
                <input type="text" id="loanStartDatePlanB" placeholder="mm/yyyy">
            </div>

            <!-- Interest Rate -->
            <div class="form-row">
                <label class="label">Annual Interest Rate:</label>
                <span id="interestRatePlanB"></span>
            </div>

            <!-- Total Interest Paid -->
            <div class="form-row">
                <label class="label">Total Interest Paid:</label>
                <span id="totalInterestPaidPlanB"></span>
            </div>

            <!-- Total Loan Amount -->
            <div class="form-row">
                <label class="label">Total Loan Amount:</label>
                <span id="totalLoanAmountPlanB"></span>
            </div>

            <!-- Monthly Payment -->
            <div class="form-row">
                <label class="label">Monthly Payment: </label>
                <span id="monthlyPaymentPlanB"></span>
            </div>
        </div>

        <!-- Plan C -->
        <div class="column">
            <!-- Radio Button for Plan C -->
            <div class="form-row">
                <input type="radio" for="SelectedPlan" id="planC" name="loanPlan" value="C">
                <h2 for="planC">Plan C</h2>
            </div>

            <!-- Total Payment Amount -->
            <div class="form-row">
                <label class="label">Total Payment Amount:</label>
                <span id="totalPaymentAmountPlanC"></span>
            </div>

            <!-- Price of Vehicle -->
            <div class="form-row">
                <label for="vehiclePricePlanC" class="label">Price of Vehicle: </label>
                <input type="text" id="vehiclePricePlanC" placeholder="0" onblur="updateAllItems('C')">
            </div>

            <!-- Down Payment -->
            <div class="form-row">
                <label for="downPaymentPlanC" class="label">Down Payment:</label>
                <input type="text" id="downPaymentPlanC" placeholder="0" onblur="updateAllItems('C')">
            </div>

            <div class="border-line"></div>

            <!-- insurance Type -->
            <div class="form-row">
                <label for="insuranceTypePlanC" class="label">Insurance Type:</label>
                <select name="insuranceTypePlanC" id="insuranceTypePlanC" oninput="updateAllItems('C')">
                    <option value="select option"></option>
                    <option value="insuranceC_1yr">1 year guarantee</option>
                    <option value="insuranceC_3yrs">3 years guarantee</option>
                    <option value="insuranceC_5yrs">5 years guarantee</option>
                    <option value="insuranceC_10yrs">10 years guarantee</option>
                </select>
            </div>

            <!-- insurance Price -->
            <div class="form-row">
                <label class="label">Insurance Price:</label>
                <span id="insurancePricePlanC"></span>
            </div>

            <!-- Other Fees -->
            <div class="form-row">
                <label for="otherFeesPlanC" class="label">Other Fees:</label>
                $  <input type="text" id="otherFeesPlanC" placeholder="0" onblur="updateAllItems('C')">
            </div>

            <!-- Tax Rate -->
            <div class="form-row">
                <label class="label">Tax Rate:</label>
                <input type="text" id="taxRatePlanC" placeholder="0" onblur="updateAllItems('C')">  %
            </div>

            <!-- Taxes -->
            <div class="form-row">
                <label class="label">Taxes:</label>
                <span id="taxesPlanC"></span>
            </div>

            <!-- Loan Term -->
            <div class="form-row">
                <label for="loanTermPlanC" class="label">Loan Term:</label>
                <select name="loanTermPlanC" id="loanTermPlanC" oninput="updateAllItems('C')">
                    <option value="select option"></option>
                    <option value="loanTermC_12m">12 months</option>
                    <option value="loanTermC_36m">36 months</option>
                    <option value="loanTermC_60m">60 months</option>
                    <option value="loanTermC_120m">120 months</option>
                </select>
            </div>

            <!-- Loan Start Date -->
            <div class="form-row">
                <label class="label">Loan Start Date:</label>
                <input type="text" id="loanStartDatePlanC" placeholder="mm/yyyy">
            </div>

            <!-- Interest Rate -->
            <div class="form-row">
                <label class="label">Annual Interest Rate:</label>
                <span id="interestRatePlanC"></span>
            </div>

            <!-- Total Interest Paid -->
            <div class="form-row">
                <label class="label">Total Interest Paid:</label>
                <span id="totalInterestPaidPlanC"></span>
            </div>

            <!-- Total Loan Amount -->
            <div class="form-row">
                <label class="label">Total Loan Amount:</label>
                <span id="totalLoanAmountPlanC"></span>
            </div>

            <!-- Monthly Payment -->
            <div class="form-row">
                <label class="label">Monthly Payment: </label>
                <span id="monthlyPaymentPlanC"></span>
            </div>
        </div>
     </div>
    <button type="button" id="confirmBtn" onclick="validationCheck()">Confirm</button>
</div>
